# small pump stats

For small pump, measure the number of seconds to fill 12L container through different hose lengths at different head hights.

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")
from io import StringIO    

f = StringIO('''\
length, 0,      815,    1280
220,    84.52,  100.38, 141.84 
400,    107.52, 148.24, 213.50 
800,    146.49, 198.64, 287.97
''')

df = pd.read_csv(f)

df = df.set_index("length")

# ax = sns.lineplot(height=8.27, aspect=11.7/8.27, data=df)
# ax.set(xlabel='head', ylabel='seconds')
# plt.show()

df

             0        815      1280
length
220      84.52     100.38    141.84
400     107.52     148.24    213.50
800     146.49     198.64    287.97